body {
    font-family:"Î¢ÈíÑÅºÚ";
}
.adop{
    background-color: #FFFDD2;
    width: 1200px;
    font-size:20px;

}
.content{
    font-size: 20px;
    font-weight: 500;

}
.con{
   padding: 5px 0;
    margin-top: 5px;
}
