<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <meta charset="UTF-8"></head>
<body>
<div>

    Email地址验证<br>
    这封邮件是由基于深度学习的风格迁移系统开发人员发送的。<br>
    您收到这封邮件是由于在基于深度学习的风格迁移系统网站上进行账号注册服务,<br>
    如果您并没有访问过，上述提及的网站或没有进行上述操作，请忽略这封邮件，您不需要做任何回复！<br>
    -------------------------------------------------------------------------------------------------<br>
    激活账号说明：<br>
    如果您是  基于深度学习的风格迁移系统新用户，正在进行账号注册服务使用了本地址，您只需点击下面的链接激活账号即可：<br>
    <a th:href="@{${activationUrl}}"><span th:text="${activationUrl}"></span></a><br>
    感谢您的注册，祝您生活愉快！<br>
    此致<br>
    系统开发者
</div>
</body>
</html>